# -----------------------------------------------------
# Python
# -----------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# -----------------------------------------------------
# Jupyter Notebooks
# -----------------------------------------------------
.ipynb_checkpoints/

# -----------------------------------------------------
# VS Code
# -----------------------------------------------------
.vscode/

# -----------------------------------------------------
# Operating System
# -----------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------
# Logs
# -----------------------------------------------------
*.log

# -----------------------------------------------------
# dbt
# -----------------------------------------------------
dbt_packages/
target/
logs/

# -----------------------------------------------------
# Fabric / Spark Temporary Files
# -----------------------------------------------------
*.lakehouse